body {
  color: black;
  font-family: Tahoma;
  font-size: 10pt;
}
#page {
  width: 1050;
  height: 1485;
}
h1 {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  float: left;
}
#about {
  width: 40%;
  float: left;
  clear: left;
  margin-left: 5%;
  margin-right: 5%;
}
#about p {
  margin: 0;
  padding: 0;
  float: left;
  font-size: 8pt;
}
img {
  width: 15%;
  margin-left: 5%;
  margin-right: 5%;
  float: right;
}
#contact {
  float: left;
  width: 15%;
  align: bottom;
  margin-left: 5%;
  margin-right: 5%;
}
#contact h2 {
  margin: 0;
  padding: 0;
  float: left;
  font-size: 8pt;
}

#contact p {
  clear: left;
  font-size: 8pt;
  margin: 0;
  padding: 0;
}

#contact .contactrow {
  margin-top: 5;
  clear: both;
}
#timeline {
  display: table;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  float: left;
  clear: both;
}
#timeline #lastitem {
  border-left-style: none;
  position: relative;
  margin-left: 10px;
}
#timeline #lastitem .stop {
  width: 14;
  height: 14;
  left: -12;
  top: -2;
  position: absolute;
}

#timeline #lastitem h3 {
  position: relative;
  font-size: 10pt;
  left: 5;
  margin: 0;
}

#timeline #lastitem p {
  font-size: 8pt;
  font-weight: normal;
  position: relative;
  margin: 0;
  left: 5;
}

#timeline .item {
  border-left: 10px;
  border-left-style: solid;
  position: relative;
  padding-bottom: 3%;
}
#timeline .item .stop {
  width: 14;
  height: 14;
  left: -12;
  top: -2;
  position: absolute;
}

#timeline .item h3 {
  position: relative;
  font-size: 10pt;
  left: 5;
  margin: 0;
}

#timeline .item p {
  font-size: 8pt;
  font-weight: normal;
  position: relative;
  margin: 0;
  left: 5;
}
#skills {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  float: left;
}
#skills .group {
  float: left;
  clear: both;
  margin-bottom: 10;
  width: 100%;
}
#skills .group h3 {
  margin: 0;
  padding: 0;
  font-size: 8pt;
}

#skills .group .skillrows {
  border-top-style: solid;
}

#skills .group .skillrow {
  height: 10;
  width: 100%;
  clear: both;
}
#skills .group .skillrow p {
  float: left;
  font-size: 8pt;
  font-weight: normal;
  width: 50%;
  margin: 0;
}

#skills .group .skillrow svg {
  float: left;
  height: 100%;
  width: 25%;
}
#qualifications {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  float: left;
}
#qualifications h2 {
  float: left;
  clear: both;
}

#qualifications #content {
  float: left;
  width: 100%;
}

#qualifications .group {
  float: left;
  width: 27%;
  margin-left: 3%;
  margin-right: 3%;
}

#qualifications p {
  margin: 0;
  padding: 0;
  font-size: 8pt;
}
#qualifications p.result {
  color: gray;
  float: right;
}

#qualifications p.qualification {
  float: left;
  margin: 0 10 0 0;
  font-weight: bold;
  clear: both;
}
