body {
  color: black;
  font-family: Tahoma;
  font-size: 10pt;
}
#page {
  width: 1200;
}
#header {
  width: 100%;
}
#header #title {
  float: left;
  width: 40%;
  margin-bottom: 30px;
  margin-top: 50px;
  margin-left: 5%;
  margin-right: 5%;
}
#header #title #name {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 10px;
  float: left;
  font-size: 16pt;
}

#header #title #jobtitle {
  margin: 0;
  padding: 0;
  clear: both;
  font-size: 10pt;
  float: left;
  font-weight: normal;
  margin-right: 10px;
}

#header #aboutme {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  float: left;
  clear: both;
}
#header #aboutme p {
  margin: 0;
  padding: 0;
  float: left;
  font-size: 8pt;
}

#header #contact {
  width: 15%;
  float: left;
  margin-left: 5%;
  margin-right: 10%;
}
#header #contact h2 {
  margin: 0;
  padding: 0;
  float: left;
  font-size: 8pt;
}

#header #contact p {
  clear: left;
  font-size: 8pt;
  margin: 0;
  padding: 0;
}

#header #contact .contactrow {
  float: left;
  clear: both;
}

#header img {
  float: left;
  margin-left: 5%;
  width: 10%;
}
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}
#qualifications {
  width: 100%;
  float: left;
  clear: both;
}
#qualifications h2 {
  margin-left: 5%;
}

#qualifications h3 {
  margin: 0;
  padding: 0;
}

#qualifications #content {
  float: left;
  width: 100%;
}

#qualifications .group {
  float: left;
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%;
  width: 40%;
}

#qualifications p {
  margin: 0;
  padding: 0;
  font-size: 8pt;
}
#qualifications p.result {
  color: gray;
  float: right;
}

#qualifications p.qualification {
  float: left;
  font-weight: bold;
  clear: both;
}
#skills {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  float: left;
  clear: both;
}
#skills h3 {
  margin: 0;
  padding: 0;
  float: left;
  width: 50%;
}

#skills h4 {
  margin: 0;
  padding: 0;
  font-size: 8pt;
  float: left;
}
#skills h4.experience {
  width: 30%;
}

#skills h4.enjoyment {
  width: 20%;
}

#skills svg.skilldot {
  float: left;
  height: 9;
  width: 9;
  margin: 1;
}

#skills .group {
  float: left;
  clear: both;
  margin-bottom: 15px;
  width: 100%;
}
#skills .group .skillrows {
  float: left;
  width: 100%;
  border-top-style: solid;
  padding-top: 2px;
}

#skills .group .skillrow {
  height: 10;
  width: 100%;
  clear: both;
}
#skills .group .skillrow p {
  float: left;
  font-size: 8pt;
  font-weight: normal;
  width: 50%;
  margin: 0;
}

#skills .group .skillrow .experience {
  float: left;
  width: 30%;
}

#skills .group .skillrow .enjoyment {
  float: left;
  text-align: left;
  width: 20%;
}

#skills #skillskey {
  float: left;
  width: 100%;
  margin-top: 10px;
}
#skills #skillskey #keyrows {
  float: left;
  width: 100%;
  margin-top: 10px;
}

#skills #skillskey .keyrow {
  width: 100%;
  height: 10;
}

#skills #skillskey p {
  margin: 0;
  padding: 0;
  font-size: 8pt;
  float: left;
}
#skills #skillskey p.experience {
  width: 30%;
}

#skills #skillskey p.enjoyment {
  float: left;
  text-align: left;
  width: 20%;
}

#skills #skillskey .score {
  float: left;
  width: 50%;
}
#timeline {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  float: left;
}
#timeline h2 {
  margin-top: 20px;
  margin-bottom: 18px;
}

#timeline #lastitem {
  border-left-style: none;
  position: relative;
  margin-left: 7px;
}
#timeline #lastitem .stop {
  width: 16px;
  height: 16px;
  left: -11px;
  top: -8px;
  position: absolute;
}

#timeline #lastitem h3 {
  position: relative;
  font-size: 10pt;
  top: -8px;
  left: 10px;
  margin: 0;
}

#timeline #lastitem p {
  font-size: 8pt;
  font-weight: normal;
  position: relative;
  margin: 0;
  top: -8px;
  left: 10px;
}

#timeline .item {
  border-left: 7px;
  border-left-style: solid;
  position: relative;
  padding-bottom: 3%;
}
#timeline .item .stop {
  width: 16px;
  height: 16px;
  left: -11px;
  top: -8px;
  position: absolute;
}

#timeline .item h3 {
  position: relative;
  font-size: 10pt;
  top: -8px;
  left: 10px;
  margin: 0;
}

#timeline .item p {
  font-size: 8pt;
  font-weight: normal;
  position: relative;
  margin: 0;
  top: -8px;
  left: 10px;
}
#aboutcv {
  width: 90%;
  float: left;
  clear: both;
  margin-top: 60px;
  margin-bottom: 50px;
  margin-left: 5%;
  margin-right: 5%;
}
#aboutcv p {
  margin: 0;
  padding: 0;
  width: auto;
  display: inline;
  float: left;
  font-size: 8pt;
}

#aboutcv #title {
  font-weight: bold;
  margin-right: 10px;
}
